<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blockchain Management</title>
    <!-- <script src="./js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style>
        lds-ring {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
        }

        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 51px;
            height: 51px;
            margin: 6px;
            border: 6px solid #fa923f;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #fa923f transparent transparent transparent;
        }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

        @keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
<div id="app">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h1>Manage your Blockchain</h1>
            </div>
        </div>
        <!--wallet&Node 与Network之间的转换-->
        <div class="row">
            <div class="col">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Wallet &amp; Node</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/network">Network</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/provenanceDrug">Provenance</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <!--role语义增强标签-->
        <div v-if="error" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <div v-if="success" class="alert alert-success" role="alert">
            {{ success }}
        </div>
        <div class="row">
            <div class="col">
                <div v-if="!walletLoading">
                    <button class="btn btn-primary" @click="onCreateWallet">
                        Create new Wallet
                    </button>
                    <button class="btn btn-primary" @click="onLoadWallet">
                        Load Wallet
                    </button>
                </div>
                <!--此处是在创建wallet时的动画效果，四个div分别组成转圈的div效果-->
                <div v-if="walletLoading" class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <!--                <div class="col text-right">-->
            <!--                    <h2>Funds: {{ funds.toFixed(2) }}</h2>-->
            <!--                </div>-->
        </div>
        <hr>
        <div v-if="!wallet" class="row">
            <div class="col">
                <div class="alert alert-warning">Create a Wallet to start sending coins or to mine coins!</div>
            </div>
        </div>
        <div v-if="wallet" class="row">
            <div class="col">
                <!--.prevent 表示提交以后不刷新页面-->
                <form @submit.prevent="onSendTx">
                    <div class="form-group">
                        <label for="recipient">Recipient Key</label>
                        <input v-model="outgoingTx.recipient" type="text" class="form-control" id="recipient"
                               placeholder="Enter key">
                    </div>
                    <!--                        <div class="form-group">-->
                    <!--                            <label for="amount">Amount of Coins</label>-->
                    <!--                            <input v-model.number="outgoingTx.amount" type="number" step="0.001" class="form-control" id="amount">-->
                    <!--                            <small class="form-text text-muted">Fractions are possible (e.g. 5.67)</small>-->
                    <!--                        </div>-->
                    <div class="form-group">
                        <label for="provenance_code">Provenance of code</label>
                        <input v-model="outgoingTx.provenance_code" type="text" class="form-control"
                               id="provenance_code" placeholder="Enter code of provenance ">
                    </div>
                    <div class="form-group">
                        <label for="drug_name">Name of drug</label>
                        <input v-model="outgoingTx.drug_name" type="text" class="form-control" id="drug_name"
                               placeholder="Enter name of drug">
                    </div>
                    <div class="form-group">
                        <label for="classes">Classes</label>
                        <input v-model="outgoingTx.classes" type="text" class="form-control" id="classes"
                               placeholder="Enter classes">
                    </div>
                    <div class="form-group">
                        <label for="information">Infromation of drug</label>
                        <input v-model="outgoingTx.information" type="text" class="form-control" id="information"
                               placeholder="Enter information of drug">
                    </div>
                    <div v-if="txLoading" class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <!--:disabled禁用-->
                    <button :disabled="txLoading || outgoingTx.recipient.trim() === '' " type="submit"
                            class="btn btn-primary">Send
                    </button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" :class="{active: view === 'chain'}" href="#" @click="view = 'chain'">Blockchain</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :class="{active: view === 'tx'}" href="#" @click="view = 'tx'">Open
                            Transactions</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <button class="btn btn-primary" @click="onLoadData">
                    {{ view === 'chain' ? 'Load Blockchain' : 'Load Transactions' }}
                </button>
                <button v-if="view === 'chain' && wallet" class="btn btn-success" @click="onMine">Mine Coins</button>
                <button class="btn btn-warning" @click="onResolve">Resolve Conflicts</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div v-if="dataLoading" class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div v-if="!dataLoading" class="accordion">
                    <!--v-for在ladedData循环 可以显示每一个区块-->
                    <div class="card" v-for="(data, index) in loadedData">
                        <div v-if="view === 'chain'" class="card-header">
                            <h5 class="mb-0">
                                <!--初始状态showElement=false 因此区块内的内容隐藏，点击后showElement=ture 不隐藏-->
                                <button class="btn btn-link" type="button"
                                        @click="showElement === index ? showElement = null : showElement = index">
                                    Block #{{ data.index }}
                                </button>
                            </h5>
                        </div>
                        <!--在此处 showElement==true class = show 不折叠 。反之， 折叠-->
                        <div v-if="view === 'chain'" class="collapse" :class="{show: showElement === index}">
                            <div class="card-body">
                                <p>Height: {{ data.index }}</p>
                                <p>Previous Hash: {{ data.previous_hash }}</p>
                                <p>Timestamp: {{ data.timestamp }}</p>
                                <p>Proof: {{ data.proof}}</p>
                                <div class="list-group">
                                    <div v-for="tx in data.transactions"
                                         class="list-group-item flex-column align-items-start">
                                        <div>Sender: {{ tx.sender }}</div>
                                        <div>Recipient: {{ tx.recipient }}</div>
                                        <!--                                            <div>Amount: {{ tx.amount }}</div>-->
                                        <div>Signature: {{ tx.signature }}</div>
                                        <div>Provenance_code: {{ tx.provenance_code }}</div>
                                        <div>Drug_name: {{ tx.drug_name }}</div>
                                        <div>Classes: {{ tx.classes }}</div>
                                        <div>Information: {{ tx.information }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="view === 'tx'" class="card-header">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button"
                                        @click="showElement === index ? showElement = null : showElement = index">
                                    Transaction #{{ index }}
                                </button>
                            </h5>
                        </div>
                        <div v-if="view === 'tx'" class="collapse" :class="{show: showElement === index}">
                            <div class="card-body">
                                <div class="list-group">
                                    <div class="list-group-item flex-column align-items-start">
                                        <div>Sender: {{ data.sender }}</div>
                                        <div>Recipient: {{ data.recipient }}</div>
                                        <!--                                            <div>Amount: {{ data.amount }}</div>-->
                                        <div>Signature: {{ data.signature }}</div>
                                        <div>Provenance_code: {{ data.provenance_code }}</div>
                                        <div>Drug_name: {{ data.drug_name }}</div>
                                        <div>Classes: {{ data.classes }}</div>
                                        <div>Information: {{ data.information }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/vue.js"></script>
<script src="../static/js/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            blockchain: [],
            openTransactions: [],
            wallet: null,
            view: 'chain',
            walletLoading: false,
            txLoading: false,
            dataLoading: false,
            showElement: null,
            error: null,
            success: null,
            // funds: 0,
            outgoingTx: {
                recipient: '',
                signature: '',
                provenance_code: '',
                drug_name: '',
                classes: '',
                information: []
            }
        },
        mounted() {
           this.onLoadWallet()
            this.onLoadData()
        },
        computed: {
            loadedData: function () {
                if (this.view === 'chain') {
                    return this.blockchain;
                } else {
                    return this.openTransactions;
                }
            }
        },
        methods: {
            onCreateWallet: function () {
                // Send Http request to create a new wallet (and return keys)
                /*在axios外部 vm.walletLoading 等价于this.walletLoading,但是在axios内部则不行axios中this为undefined */
                var vm = this;
                this.walletLoading = true;
                axios.post('/wallet')
                    .then(function (response) {
                        vm.error = null;
                        vm.success = 'Created Wallet! Public Key: ' + response.data.public_key + ', Private Key: ' + response.data.private_key;
                        vm.wallet = {
                            public_key: response.data.public_key,
                            private_key: response.data.private_key
                        }
                        // vm.funds = response.data.funds;
                        vm.walletLoading = false;
                    })
                    .catch(function (error) {
                        vm.success = null;
                        /*这是把node.py中的wallet中的创建失败后自己设置的message传入给vm.error*/
                        vm.error = error.response.data.message;
                        vm.wallet = null;
                        vm.walletLoading = false;
                    });
            },
            onLoadWallet: function () {
                // Send Http request to load an existing wallet (from a file on the server)
                var vm = this;
                this.walletLoading = true;
                axios.get('/wallet')
                    .then(function (response) {
                        vm.error = null;
                        vm.success = 'Created Wallet! Public Key: ' + response.data.public_key + ', Private Key: ' + response.data.private_key;
                        vm.wallet = {
                            public_key: response.data.public_key,
                            private_key: response.data.private_key
                        }
                        /* vm.funds = response.data.funds;*/
                        vm.walletLoading = false;

                    })
                    .catch(function (error) {
                        vm.success = null;
                        vm.error = error.response.data.message;
                        vm.wallet = null;
                        vm.walletLoading = false;
                    });
            },
            onSendTx: function () {
                // Send Transaction to backend
                var vm = this;
                this.txLoading = true;
                axios.post('/transaction', {
                    recipient: this.outgoingTx.recipient,
                    signature: this.outgoingTx.signature,
                    provenance_code: this.outgoingTx.provenance_code,
                    drug_name: this.outgoingTx.drug_name,
                    classes: this.outgoingTx.classes,
                    information: this.outgoingTx.information
                })
                    .then(function (response) {
                        vm.error = null;
                        vm.success = response.data.message;
                        console.log(response.data);
                        // vm.funds = response.data.funds;
                        vm.txLoading = false;
                    })
                    .catch(function (error) {
                        vm.success = null;
                        vm.error = error.response.data.message;
                        vm.txLoading = false;
                    });
            },
            onMine: function () {
                var vm = this;
                axios.post('/mine')
                    .then(function (response) {
                        vm.error = null;
                        vm.success = response.data.message;
                        console.log(response.data);
                        // vm.funds = response.data.funds;
                    })
                    .catch(function (error) {
                        vm.success = null;
                        vm.error = error.response.data.message;
                    });

            },
            onResolve: function () {
                var vm = this;
                axios.post('/resolve-conflicts')
                    .then(function (response) {
                        vm.error = null;
                        vm.success = response.data.message;
                    })
                    .catch(function (error) {
                        vm.success = null;
                        vm.error = error.response.data.message;
                    });
            },
            onLoadData: function () {
                if (this.view === 'chain') {
                    // Load blockchain data
                    var vm = this;
                    this.dataLoading = true;
                    // axios.get('localhost:5000/chain') 等价于 axios.get('/chain')
                    axios.get('/chain')
                        .then(function (response) {
                            console.log(response)
                            // response里面data返回的是区块链数据
                            vm.blockchain = response.data;
                            vm.dataLoading = false;
                        })
                        // dataLoading 可以捕捉异常
                        .catch(function (error) {
                            vm.dataLoading = false;
                            vm.error = 'Something went wrong.';
                        });
                } else {
                    // Load transaction data
                    var vm = this
                    axios.get('/transactions')
                        .then(function (response) {
                            console.log(response)
                            vm.openTransactions = response.data
                            vm.dataLoading = false
                        })
                        .catch(function (error) {
                            vm.dataLoading = false
                            vm.error = 'Something went wrong.'
                        });
                }
            }
        }
    })
</script>
</body>

</html>